language: objective-c
osx_image: xcode8.1
cache:
  - bundler
env:
  matrix:
    - FASTLANE_ENV=iOS
    - FASTLANE_ENV=macOS
script:
  - bundle exec pod lib lint
  - bundle exec fastlane test --env $FASTLANE_ENV
